.axis {
  position: absolute;
  top: 0;
}

.axis button {
  border-radius: 0;
  background: none;
  width: 60px;
  height: 80px;
  border: 0;
  opacity: 0;
}

.axis button.selected {
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
}
