/** TODO remove, use theme */
:root {
  --light: rgb(240, 255, 240);
  --dark: rgb(10, 20, 10);
}

h1 {
  font-family: 'ITC Cheltenham Std Light Condensed', serif;
  font-size: 3rem;
  filter: drop-shadow(0 0 5px black) drop-shadow(0 0 20px black);
  font-weight: normal;
  margin: 0;
}

button {
  /* width: 25px;
  height: 25px; */
  background: var(--dark);
  color: var(--light);
  border-radius: 99px;
  border: 1px solid var(--light);
  cursor: pointer;
}

button.back::after {
  content: '<';
}
