.map {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(10, 20, 10);
}
.timeseries {
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 0.4rem;
  background: white;
  right: 100px;
  opacity: 0.3;
}
