.speciesChoice {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.speciesChoice h1 {
  font-size: 1.6rem;
  margin: 1rem;
}

.speciesMenu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 0px;
  transition: all 150ms;
}

.speciesMenu:hover {
  width: 350px;
}

.speciesSection {
  height: 30px;
  width: 100%;
  background: var(--dark);
  /* border: 0; */
  border-left-width: 20px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.speciesSection:hover {
  text-decoration: underline;
}

.label {
  margin-left: 2rem;
}

/* .available {
  border: 1px solid orange;
} */

/* .selected {
  width: 100%;
  border: 2px solid black;
} */
