.speciesChoice {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20px;
  transition: all 150ms;
}

.speciesChoice:hover {
  width: 350px;
}

.speciesSection {
  height: 30px;
  width: 100%;
}

.speciesSection:hover {
  text-decoration: underline;
}

.label {
  margin-left: 2rem;
}

.available {
  border: 1px solid orange;
}

.selected {
  width: 100%;
  border: 2px solid black;
}
