.sprite {
  background-image: url('./spritesheet.webp');
  background-repeat: no-repeat;
  display: block;
}

.sprite-Abies_alba {
  width: 143px;
  height: 224px;
  background-position: -1px -1px;
}

.sprite-Acer_campestre {
  width: 168px;
  height: 224px;
  background-position: -146px -1px;
}

.sprite-Acer_opalus {
  width: 224px;
  height: 168px;
  background-position: -316px -1px;
}

.sprite-Acer_platanoides {
  width: 224px;
  height: 157px;
  background-position: -542px -1px;
}

.sprite-Acer_pseudoplatanus {
  width: 224px;
  height: 168px;
  background-position: -768px -1px;
}

.sprite-Alnus_glutinosa {
  width: 168px;
  height: 224px;
  background-position: -994px -1px;
}

.sprite-Alnus_incana {
  width: 224px;
  height: 148px;
  background-position: -1164px -1px;
}

.sprite-Arbutus_unedo {
  width: 224px;
  height: 220px;
  background-position: -1390px -1px;
}

.sprite-Aria_edulis {
  width: 168px;
  height: 224px;
  background-position: -1616px -1px;
}

.sprite-Betula_pendula {
  width: 224px;
  height: 168px;
  background-position: -1786px -1px;
}

.sprite-Betula_pubescens {
  width: 168px;
  height: 224px;
  background-position: -2012px -1px;
}

.sprite-Borkhausenia_intermedia {
  width: 224px;
  height: 168px;
  background-position: -2182px -1px;
}

.sprite-Carpinus_betulus {
  width: 224px;
  height: 202px;
  background-position: -2408px -1px;
}

.sprite-Carpinus_orientalis {
  width: 224px;
  height: 168px;
  background-position: -2634px -1px;
}

.sprite-Castanea_sativa {
  width: 224px;
  height: 183px;
  background-position: -2860px -1px;
}

.sprite-Celtis_australis {
  width: 137px;
  height: 223px;
  background-position: -3086px -1px;
}

.sprite-Ceratonia_siliqua {
  width: 168px;
  height: 224px;
  background-position: -3225px -1px;
}

.sprite-Cormus_domestica {
  width: 224px;
  height: 168px;
  background-position: -3395px -1px;
}

.sprite-Corylus_avellana {
  width: 224px;
  height: 165px;
  background-position: -3621px -1px;
}

.sprite-Cupressus_sempervirens {
  width: 148px;
  height: 224px;
  background-position: -3847px -1px;
}

.sprite-Fagus_sylvatica {
  width: 168px;
  height: 224px;
  background-position: -3997px -1px;
}

.sprite-Fraxinus_angustifolia {
  width: 224px;
  height: 168px;
  background-position: -4167px -1px;
}

.sprite-Fraxinus_excelsior {
  width: 224px;
  height: 168px;
  background-position: -4393px -1px;
}

.sprite-Fraxinus_ornus {
  width: 149px;
  height: 224px;
  background-position: -4619px -1px;
}

.sprite-Juglans_regia {
  width: 224px;
  height: 168px;
  background-position: -4770px -1px;
}

.sprite-Juniperus_thurifera {
  width: 168px;
  height: 224px;
  background-position: -4996px -1px;
}

.sprite-Larix_decidua {
  width: 224px;
  height: 149px;
  background-position: -5166px -1px;
}

.sprite-Laurus_nobilis {
  width: 168px;
  height: 224px;
  background-position: -5392px -1px;
}

.sprite-Malus_sylvestris {
  width: 224px;
  height: 168px;
  background-position: -5562px -1px;
}

.sprite-Olea_europaea {
  width: 221px;
  height: 224px;
  background-position: -5788px -1px;
}

.sprite-Ostrya_carpinifolia {
  width: 224px;
  height: 168px;
  background-position: -6011px -1px;
}

.sprite-Picea_abies {
  width: 149px;
  height: 223px;
  background-position: -6237px -1px;
}

.sprite-Pinus_brutia {
  width: 168px;
  height: 224px;
  background-position: -6388px -1px;
}

.sprite-Pinus_cembra {
  width: 168px;
  height: 224px;
  background-position: -6558px -1px;
}

.sprite-Pinus_halepensis {
  width: 224px;
  height: 167px;
  background-position: -6728px -1px;
}

.sprite-Pinus_nigra {
  width: 224px;
  height: 190px;
  background-position: -6954px -1px;
}

.sprite-Pinus_pinaster {
  width: 150px;
  height: 223px;
  background-position: -7180px -1px;
}

.sprite-Pinus_pinea {
  width: 224px;
  height: 150px;
  background-position: -7332px -1px;
}

.sprite-Pinus_sylvestris {
  width: 149px;
  height: 224px;
  background-position: -7558px -1px;
}

.sprite-Pistacia_lentiscus {
  width: 168px;
  height: 224px;
  background-position: -7709px -1px;
}

.sprite-Pistacia_terebinthus {
  width: 224px;
  height: 160px;
  background-position: -7879px -1px;
}

.sprite-Populus_alba {
  width: 224px;
  height: 122px;
  background-position: -8105px -1px;
}

.sprite-Populus_nigra {
  width: 224px;
  height: 114px;
  background-position: -8331px -1px;
}

.sprite-Populus_tremula {
  width: 224px;
  height: 168px;
  background-position: -8557px -1px;
}

.sprite-Prunus_avium {
  width: 223px;
  height: 223px;
  background-position: -8783px -1px;
}

.sprite-Prunus_padus {
  width: 224px;
  height: 183px;
  background-position: -9008px -1px;
}

.sprite-Pyrus_communis {
  width: 147px;
  height: 224px;
  background-position: -9234px -1px;
}

.sprite-Quercus_cerris {
  width: 224px;
  height: 164px;
  background-position: -9383px -1px;
}

.sprite-Quercus_coccifera {
  width: 224px;
  height: 139px;
  background-position: -9609px -1px;
}

.sprite-Quercus_faginea {
  width: 224px;
  height: 168px;
  background-position: -9835px -1px;
}

.sprite-Quercus_frainetto {
  width: 224px;
  height: 140px;
  background-position: -10061px -1px;
}

.sprite-Quercus_ilex {
  width: 224px;
  height: 149px;
  background-position: -10287px -1px;
}

.sprite-Quercus_petraea {
  width: 224px;
  height: 221px;
  background-position: -10513px -1px;
}

.sprite-Quercus_pubescens {
  width: 168px;
  height: 224px;
  background-position: -10739px -1px;
}

.sprite-Quercus_pyrenaica {
  width: 188px;
  height: 224px;
  background-position: -10909px -1px;
}

.sprite-Quercus_robur {
  width: 165px;
  height: 223px;
  background-position: -11099px -1px;
}

.sprite-Quercus_suber {
  width: 224px;
  height: 149px;
  background-position: -11266px -1px;
}

.sprite-Robinia_pseudoacacia {
  width: 167px;
  height: 223px;
  background-position: -11492px -1px;
}

.sprite-Salix_alba {
  width: 224px;
  height: 168px;
  background-position: -11661px -1px;
}

.sprite-Sorbus_aucuparia {
  width: 224px;
  height: 168px;
  background-position: -11887px -1px;
}

.sprite-Taxus_baccata {
  width: 224px;
  height: 195px;
  background-position: -12113px -1px;
}

.sprite-Tilia_cordata {
  width: 224px;
  height: 181px;
  background-position: -12339px -1px;
}

.sprite-Tilia_platyphyllos {
  width: 168px;
  height: 224px;
  background-position: -12565px -1px;
}

.sprite-Torminalis_glaberrima {
  width: 166px;
  height: 224px;
  background-position: -12735px -1px;
}

.sprite-Ulmus_glabra {
  width: 168px;
  height: 224px;
  background-position: -12903px -1px;
}

.sprite-Ulmus_laevis {
  width: 224px;
  height: 144px;
  background-position: -13073px -1px;
}

.sprite-Ulmus_minor {
  width: 179px;
  height: 224px;
  background-position: -13299px -1px;
}
